name: ci
on:
  workflow_call:

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: arduino/setup-task@v1
          with:
            version: 3.10.0
      - uses: actions/setup-go@v3
        with:
          go-version: '~1.19'

      - name: Spin up Docker
        run: docker-compose up -d

      - name: Wait for
        run: task wait-for -- 5432
        timeout-minutes: 1

      - name: Download deps
        run: go mod download

      - name: Test all
        run: go test ./...
        timeout-minutes: 4

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest